{% extends 'base.html' %}

{% block head %}
<title>Github Analysis</title>
{% endblock %}

{% block body %}
<div class="col container justify-content-center">
    <div></div>
    <h2 class="col-12 koho-regular pb-2">Tabela zestawiająca dane uzyskane ze scrapingu</h2>
    <table class="table table-light table-striped mb-0 col-12">
        <thead>
            <tr>
                <th>Nazwa repo</th>
                <th>Gwiazdki</th>
                <th>Współautorzy</th>
                <th>Używane przez</th>
                <th>Commity</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row['repo_name'] }}</td>
                <td>{{ row['stars'] }}</td>
                <td>{{ row['contributors'] }}</td>
                <td>{{ row['used_by'] }}</td>
                <td>{{ row['commits'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
