{% extends 'base.html' %}

{% block head %}
<title>Github Analysis</title>
{% endblock %}

{% block body %}
<div class="col container justify-content-center">
    <h2 class="col-12 koho-regular pb-2">Strona główna</h2>
    <div class="row d-flex">
        <div class="col-8">
            <p class="koho-regular fs-5 ">Głównym zadaniem tego serwisu jest zaprezentowanie ciekawych danych i statystyk ze świata Github'a. </p>
            <p class="koho-regular fs-5 ">Zależało nam, aby zrobić to w sposób prosty, ale jednocześnie ciekawy dla zwykłego użytkownika. </p>
            <div style="height: 2px;" class="w-100 bg-secondary mb-2"></div>
            <p class="koho-regular fs-5 ">Po prawej stronie znajdują się przyciski z kategoriami. Można wybrać interesującą nas kategorię, a następnie kliknąć w wybrany przez nas temat, aby go lepiej zgłębić. </p>
            <p class="koho-header fs-5 ">Miłej zabawy! </p>
            <div style="height: 2px;" class="w-100 bg-secondary mb-2"></div>
            <p class="koho-regular fs-5 text-secondary ">Projekt został przygotowany przez Alberta Winiarskiego, Mateusza Matiasa, Szymona Thiede i Szymona Urbańskiego </p>
        </div>
        <div class="col-4 d-flex align-items-center pb-4">
            <img class="img-fluid" src="/static/pics/Bg-pattern.png" alt="">
        </div>
    </div>
</div>
{% endblock %}
